name: Build and Test

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

   
      - name: Install frontend dependencies
        run: npm install
        working-directory: frontend/ai-learning-assistant

      - name: Build frontend
        run: npm run build
        working-directory: frontend/ai-learning-assistant

      - name: Install backend dependencies
        run: npm install
        working-directory: backend
